@import "../style.scss";

.Navigation {
  background-color:$black;
  display: flex;
  justify-content: flex-end;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  height: 50px;
  ul{
    li{
      float: right;
      font-family: $font;
      .LinkStylinng{
        text-transform: uppercase;
        text-decoration: none;
        padding: 11px;
        margin-left: 10px;
        color: $white;
      }

      .singup {
        border: 1px solid $green;
        border-radius: 10px;
        @include transition;

        &:hover {
          background: $darkGreen;
          @include transition;
        }
      }

      .login {
        border: 1px solid $grey;
        border-radius: 10px;
        @include transition;

        &:hover {
          background: $darkGrey;
          @include transition;
        }
      }

    }

  }
}
