@import '../../variables.scss';
$buttonSize:40px;
$buttonColor:#5ca55c;
.backClr {
    background: -moz-linear-gradient(34deg, rgba(128, 128, 128, 1) 0%, rgba(237, 237, 237, 1) 99%, rgba(237, 237, 237, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(128, 128, 128, 1)), color-stop(99%, rgba(237, 237, 237, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(34deg, rgba(128, 128, 128, 1) 0%, rgba(237, 237, 237, 1) 99%, rgba(237, 237, 237, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(34deg, rgba(128, 128, 128, 1) 0%, rgba(237, 237, 237, 1) 99%, rgba(237, 237, 237, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(34deg, rgba(128, 128, 128, 1) 0%, rgba(237, 237, 237, 1) 99%, rgba(237, 237, 237, 1) 100%);
    /* ie10+ */
    background: linear-gradient(56deg, rgba(128, 128, 128, 1) 0%, rgba(237, 237, 237, 1) 99%, rgba(237, 237, 237, 1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font: $font;
    .FlexContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        .TeamItem {
            width: 80%;
            height: 100px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            border-radius: 5px;
            background-color: #fff;
            margin: 6px;
            display: flex;
            flex-direction: row; // justify-content: center;
            // flex-direction: column;
            .TeamDetails {
                display: flex;
                justify-content: center;
                flex-direction: column;
                flex: 1;
                h2:first-child {
                    margin-top: 0;
                }
                h2 {
                    margin-top: 10px;
                    margin-left: 15px;
                    font-size: 20px;
                }
                .TeamLead {
                    color: $onyx;
                    font-size: 15px;
                }
            }
            .MoreInfo {
                display: flex;
                justify-content: flex-end;
                flex: 1;
                align-items: center;
                margin-right: 20px;
                i{
                    font-size: 20px;
                }
            }
        }
        .TeamItem:first-child {
            margin-top: 20px;
        }
        .TeamItem:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
        .ButtonContainer {
            display: flex;
            align-items: flex-start;
            width: 80%;
            .AddButton {
                outline:none;
                background-color: $buttonColor;
                box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                height: $buttonSize;
                width: $buttonSize;
                border-radius: $buttonSize;
                transition: 0.3s;
                margin-top: 10px;
                border: none;
                i {
                    color: #fff;
                }
            }
            .AddButton:hover {
                cursor: pointer;
                box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
            }
        }
    }
}