.backClr {
  font: "Lato", sans-serif; }
  .backClr .FlexContainer {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .backClr .FlexContainer .TeamItem {
      width: 80%;
      height: 100px;
      border-top: solid 2px green;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 5px;
      background-color: #fff;
      margin: 6px;
      display: flex;
      flex-direction: row; }
      .backClr .FlexContainer .TeamItem .TeamDetails {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1; }
        .backClr .FlexContainer .TeamItem .TeamDetails h2:first-child {
          margin-top: 0; }
        .backClr .FlexContainer .TeamItem .TeamDetails h2 {
          margin-top: 10px;
          margin-left: 15px;
          font-size: 20px; }
        .backClr .FlexContainer .TeamItem .TeamDetails .TeamLead {
          color: #3E363F;
          font-size: 15px; }
      .backClr .FlexContainer .TeamItem .MoreInfo {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        align-items: center;
        margin-right: 20px; }
        .backClr .FlexContainer .TeamItem .MoreInfo i {
          font-size: 20px; }
    .backClr .FlexContainer .TeamItem:first-child {
      margin-top: 20px; }
    .backClr .FlexContainer .TeamItem:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
    .backClr .FlexContainer .ButtonContainer {
      display: flex;
      align-items: flex-start;
      width: 80%; }
      .backClr .FlexContainer .ButtonContainer .AddButton {
        outline: none;
        background-color: #5ca55c;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        transition: 0.3s;
        margin-top: 10px;
        border: none;
        margin-bottom: 5px; }
        .backClr .FlexContainer .ButtonContainer .AddButton i {
          color: #fff; }
      .backClr .FlexContainer .ButtonContainer .AddButton:hover {
        cursor: pointer;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2); }
