.DbMain {
  position: absolute;
  margin-top: 26px;
  user-select: none;
  z-index: -1; }

.DbContainer {
  border-top: rgba(0, 0, 0, 0.05) 1px solid;
  background: #ffffff;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  color: black; }
  .DbContainer .DbSegment {
    padding: 5px 15px;
    border-bottom: #e1e1e1 1px solid; }
  .DbContainer .Links li {
    margin: 5px 0; }
  .DbContainer .Nickname:hover, .DbContainer .Links li:hover {
    color: gray;
    cursor: pointer; }
