.Header {
  padding: 0 9.5%;
  background-color: #3E363F;
  display: flex;
  align-items: center;
  z-index: 10; }
  .Header .NavigationActive {
    color: green !important;
    border-bottom: solid 3px green !important; }
  .Header .MenuItems li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 200; }
  .Header .MenuItems li a:hover {
    color: green;
    cursor: pointer;
    text-decoration: none; }
  .Header .MenuItems {
    display: flex;
    justify-content: flex-start;
    flex: 1; }
  .Header .UserInfo {
    display: flex;
    justify-content: flex-end;
    flex: 1; }
    .Header .UserInfo li {
      position: relative; }
    .Header .UserInfo .fa {
      font-size: 20px; }
    .Header .UserInfo .UserProf {
      display: flex;
      color: white; }
      .Header .UserInfo .UserProf:hover {
        cursor: pointer; }
