$onyx: #3E363F;

.Header {
    padding: 0 9.5%;
    background-color: $onyx;
    display: flex;
    align-items: center;
    z-index: 10;
    .NavigationActive{
        color: gray!important;
    }
    .MenuItems li {
        color: white;
        a {
            display: block;
            padding: 10px;
        }
    }
    .MenuItems li:hover {
        color: gray;
        cursor: pointer;
    }
    .MenuItems {
        display: flex;
        justify-content: flex-start;
        flex: 1;
    }
    .UserInfo {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        li {
            position: relative;
        }
        fa {
            margin:0 10px;
        }
        .UserProf{
            display: flex;
            color: white;
            &:hover {
                cursor: pointer;
            }
            i::after{
                content: '\25BE';
                margin-right: 10px; 
            }
        }
    }
    .DdOptions{
        color: antiquewhite;
    }
}
