$background : url(https://www.publicdomainpictures.net/pictures/70000/velka/stars-in-the-night-sky.jpg);
$font: 'Lato', sans-serif;
$onyx: #3E363F;
$cinnabar: #DD403A;
$styleColor:green;
$sideNavWidth:305px;
$calcWidth: calc( 100% - #{$sideNavWidth});