.Container {
  position: relative; }

.ActiveSidenav {
  width: 305px !important; }

.CardHeader {
  border-bottom: '1px solid #eee';
  padding-bottom: 6;
  margin-bottom: 10;
  display: 'flex';
  flex-direction: 'row';
  justify-content: 'space-between'; }

.SideMenuActive {
  width: calc( 100% - 305px) !important; }

.Sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 5001;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s; }
  .Sidenav .MenuContainer {
    padding: 10px; }
    .Sidenav .MenuContainer h1 {
      font-size: 20px;
      margin-bottom: 10px; }
    .Sidenav .MenuContainer h1:after {
      margin-top: 5px;
      content: '';
      display: block;
      border-bottom: 1px solid #fff; }
    .Sidenav .MenuContainer .fa {
      margin-left: 15px; }
  .Sidenav .CloseBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

article {
  width: 250px !important; }

.btn-card {
  padding: 5px 2px;
  position: absolute;
  cursor: pointer;
  width: 250px;
  bottom: 5px; }

.kfefRd {
  top: -2px;
  right: -1px;
  width: 16px;
  height: 16px; }

.ifVHOW {
  width: 11px;
  height: 11px; }

.ifVHOW:before,
.ifVHOW:after {
  height: 1px;
  top: 4px;
  left: 2px; }
