.OverrideCont {
  flex-direction: row !important;
  flex-wrap: wrap !important; }
  .OverrideCont .TeamItem {
    transition: 0.3s !important;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2) !important;
    border-radius: 0 0 4px 4px !important;
    border-top: solid 5px green !important;
    flex: 1 0 20% !important; }
  .OverrideCont .TeamItem:hover {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2) !important; }
  .OverrideCont .TeamItem:first-child {
    margin-top: 6px !important; }
